@page
@model ECommerce.Pages.Categories.CategoriesModel
@{
	@foreach (var CatObj in Model.Category)
	{
		<a asp-area="" asp-route-id=@CatObj.CategoryID asp-page="/CategoriesDisplay/CategoriesDisplay">
			<btn style="height:100px;width:200px">@CatObj.Name</btn>
		</a>
	}
}
