btn {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 12px;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 25px;
    height: 150px;
}

btn:hover{
    background-color: #1861ac;
}

img {
    float: right;
    display: inline;
    margin-right: 20%;
}

txt {
    margin-left: 15%;
}

hr {
    color: black;
    width: 5px;
    height: 100px;
    margin: auto;
}
