btn {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 12px;
    font-size: 100px;
    height: 150px;
    display: flex;
    margin: 25px;
}

btn:hover {
    background-color: #1861ac;
}


txt {
    text-align: center;
    margin: auto;
}

