a {
    text-align: center;
}

text {
    margin: auto;
}

btn {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 12px;
    font-size: 100px;
    height: 150px;
    display: flex;
    margin: 25px;
}

btn:hover {
    background-color: #1861ac;
}

.category-image {
    float: right;
    display: inline;
    margin-left: auto;
}

.button-divider {
    color: black;
    width: 5px;
    height: 100px;
    margin-left: 14%;
}

h1{
    text-align: center;
}

.product-image {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

product-line {
    width: 100%;
    height: 1px;
    background: #6e6e6e
}

.product-object {
    display: flex;
    height: 350px;
}

.break {
    width: 100%;
    height: 350px;
}
