@page
@model ECommerce.Pages.LoginRegister.UserRegisterModel
@{
}

<script>
     $(document).ready(function () {
         $('header').empty();
     });
</script>

<br>
<div class="main justify-content-center">
     <a href="/">
         <img src=~/jungle_com_logo.png />
     </a>
</div>
<br>

<div class="container border" style="padding:20px; width:50%">
	<form method="post">
		<div class="FormBox">
			<h2>Sign Up</h2>
            <hr>
            <br>
			<div class="mb-3">
				<label asp-for="User.Name">First and Last Name</label>
				<input asp-for="User.Name" class="form-control" maxlength="50" />
				<span asp-validation-for="User.Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="User.Email">Email Address</label>
				<input asp-for="User.Email" class="form-control" maxlength="50" />
				<span asp-validation-for="User.Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="User.Password">Password</label>
				<input asp-for="User.Password" type="password" class="form-control" maxlength="32" />
				<span asp-validation-for="User.Password" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input asp-for="ownerAccount" type="checkbox" value=true>
				<label asp-for="ownerAccount">Become a Seller?</label>
			</div>
			<button  type="submit" owner=ownerAccount class="btn but1" style="width:150px">Register</button>
		</div>
	</form>
</div>

@section Scripts {
	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}