@page
@model ECommerce.Pages.Product.ViewModel
@{
    ViewData["Title"] = "Product Name Here";
}

<div class="row">
    <div class="col">
        <img src="/ProductImages/apple.png" alt="Apple" width="400" height="200">
    </div>
    <div class="col">
        <div class="row">
            <h2>&lt;PRODUCT NAME&gt;</h2>
        </div>
        <div class="row">
            <a asp-page="\..\Shops">Visit &lt;SHOP&gt;</a>
        </div>
        <div class="row">
            <h4>Price: &lt;PRODUCT PRICE&gt;</h4>
        </div>
        <div class="row">
            <p>&lt;PRODUCT DESCRIPTION&gt;</p>
        </div>
    </div>
</div>