@page
@model ECommerce.Pages.Product.ViewModel
@{
    ViewData["Title"] = "Product Name Here";
    var product = Model.Products;
    var availability = 1;
}



<div class="row">
    <div class="col image-container" style="border:1px solid black">
        <img src=@ViewData["imgsrc"] alt="Apple" width="500" height="500">
    </div>

    
    <div class="col">
        <div class="row">
            <h4>@product.Name</h4>
        </div>
        <div class="row">
            <a asp-page="\..\Shops" asp-route-shopid=@product.ShopID>Visit Shop</a>
        </div>
        <hr>
        <div class="row">
            <span class="price">$@product.Price</span>
        </div>
        <hr>
        <div class="row">
            <h5>About this product</h5>
            <p>@product.Description</p>
        </div>
    </div>

    <div class="col purchase-container">
        <div id="availability">
            @if(@availability == 1)
            {
                <span class="in-stock">In Stock</span>
            }
            else
            {
                <span class="out-of-stock">Out of Stock</span>
            }
        </div>
		<a class="btn btn-primary" style="width: 100%" asp-area="" asp-route-cid=1 asp-page="../Index">Add to Cart</a>
	</div>

</div>