@page
@model ECommerce.Pages.Product.ViewModel
@{
    
    var product = Model.Products;
    ViewData["Title"] = product.Name;
}



<div id="3-col-layout" class="row">
    <div class="col image-container" style="border:1px solid black">
        <img src=@ViewData["imgsrc"] alt="Apple" width="500" height="500">
    </div>

    
    <div class="col">
        <div class="row">
            <h4>@product.Name</h4>
        </div>
        <div class="row">
            <a asp-page="/ShopDisplay/ShopDisplay"  asp-route-shopID=@product.ShopID>Visit Shop</a>
        </div>
        <hr>
        <div class="row">
            <span class="price">$@product.Price</span>
        </div>
        <hr>
        <div class="row">
            <h5>About this product</h5>
            <p>@product.Description</p>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div id="purchase-container" class="col-auto">
            @if (@product.Quantity > 0)
            {
                <div id="availability">
                    <span class="in-stock">In Stock</span>
                </div>
                <a class="btn btn-primary" style="width: 100%" asp-area="" asp-route-pid=@product.ProductID asp-page="../Purchase/Purchase">Purchase</a>
            }
            else
            {
                <div id="availability">
                        <span class="out-of-stock">Out of Stock</span>
                </div>
                <a class="btn btn-secondary" style="width: 100%" >Product Unavailable</a>
            }
	    </div>
    }
    else
    {
            <div id="purchase-container" class="col-auto">
                <div id="availability">
                @if (@product.Quantity > 0)
                {
                            <span class="in-stock">In Stock</span>
                }
                else
                {
                            <span class="out-of-stock">Out of Stock</span>
                }
                </div>
                <a class="btn btn-secondary" style="width: 100%" asp-page="/LoginRegister/Login">Log In to Purchase</a>
            </div>
    }

</div>